@import "main";
@import "mix";


$color:lightgray;
$color1:rgb(136, 136, 136);
$color2:red;
$color3:black;
$color4:rgba(128, 128, 128,0.1);


body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: $color1;
}

@mixin main{
    border:1px hidden;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: $color;
    
}


@mixin form{
    
    width:200px;
    height: 15px;
    margin-left:15px;
    border: 1px solid black;
    padding: 5px;
    background-color:$color;

}



header{
    @include main;

    h1:hover{
        @include animacija1; 
        
    }   
    #nikola:hover{
        @include animacija2;
       
    }
}

#section1,#section2,#section3,#section4,footer{
    @include main;
}


table{
    border: 2px solid;
    text-align: center;
    border-collapse: collapse;
    width:1000px;
    height: 200px;
    td{
        border: 2px solid;
        background-color: $color;
        width: 100px;
    }
    th{
        background-color: $color4;
        border: 2px solid;
    }
    
}


#name{
@include form;
margin-left:38px;


}

#surname{
    @include form;
}

#email{
    @include form;
    margin-left:39px;
}

#message{
    width: 290px;
    background-color:$color;
    border:1px solid;
}


#submit{
    width: 100px;
    height: 20px;
}


#surname{
    position: relative;
    left:-22px;
}

@keyframes animacija1{
    0% {background-color:$color4;; }
    50% {background-color: $color;}
    100% {background-color:$color4; }
    
}

@keyframes animacija2{
   0%{color:$color3;}
   50%{color:$color2;}
   100%{color:$color3;}

}

h1,h2{
    background-color: $color4;
    padding: 10px;
}

a{
    color:$color3;
}

a:visited{
    color:$color3;
}

img{
    width: 200px;
    height: 150px;
}





@media (max-width:600px){
    table{
        width:400px;
        td{
            width: 50px;
        }
        
    }
   
}

@media (max-width:1024px){
    table{
        width:400px;
        td{
            width: 50px;
        }
    }
}

@media(max-width:240px){
    table{
       
        width:180px;
        td{
            width: 50px;
        }
        
    }
    body{
        margin: -10px;
        padding:0px;
        font-size: 10px;

    }
    
    #name,#surname,#email{
        width: 100px;
        position: relative;
        right: 30px;
    }
    #message{
        width: 150px;
    }
    label{
        position: relative;
        right: 10px;
    }
    

}



@media (min-width:280px){
    table{
       
        width:200px;
        td{
            width: 50px;
        }
        
    }
    body{
        margin: -10px;
        padding:0px;
        font-size: 15px;
    }
    

    #name,#surname,#email{
        
        width: 120px;
        margin-left:0px;
    }
    #message{
        width: 200px;
    }
    label{
        margin-right:20px;
      
    }
    
    
}




